.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

#navbar {
    background-color: #f8f9fa;
    padding: 20px;
}

#main-doc {
    padding: 20px;
}

.main-section {
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
    }
}