* {
    box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
color: #1A2027;
}

header {
    font-weight: 400;
    font-size: 32px;
    padding: 20px;
    margin-top: 15px;
}







code {
    display: block;
    text-align: left;
    position:relative;
    line-height: 2;
    background-color: #f7f7f7;
    word-break:normal;
    word-wrap: normal;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}


p {
    font-weight: 300;
    padding: 0px 20px 0px 20px;
    line-height: 1.5;
    margin: 0;
}

section article {
    margin: 0;
    display: block;
}


@media only screen and (min-width: 768px) {
    main {
            position: absolute;
            height: 100%;
            top: 0;
            left: 300px;
            padding: 20px;
    
        }
    nav {
        position: fixed;
        min-width: 300px;
        height: 100%;
        top: 0;
        left: 0;
        border-right: 1px solid rgba(0, 22, 22, 0.4);
    }
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

li {
    padding-left: 20px;
}

nav>ul>li {

    list-style-type: none;
    border-bottom: solid 1px rgba(0, 22, 22, 0.4);
    padding: 15px;


}

nav>ul>li>a:link {
    text-decoration: none;
    color: inherit;
}

nav>ul>li>a:visited {
    color: inherit;
}

nav>ul>li>a:active {
    color: inherit;
}

nav>ul>li:first-of-type {
    border-top: solid 1px rgba(0, 22, 22, 0.4);
}

nav>ul {
    padding: 0;
}